pom.xml
*jar
/classes/
/.lein-deps-sum
/.lein-failures
/.lein-env
/checkouts
/.env
/target
!/target/smallworld.jar
!/target/worker.jar
/.lein-repl-history
/.nrepl-port
.clj-kondo/
.lsp/
.DS_Store
dev/.DS_Store
.calva/
figwheel_server.log
.rebel_readline_history
resources/public/js
bin/set-env-variables.sh