* {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  color: #2b2017;
  background: #fcfcfc;
  background: #2b2017;
  color: #ccc;
  font-family: 'Roboto Mono', monospace;
}
button,
a,
textarea {
  font-family: 'Roboto Mono', monospace;
}
.btn {
  color: rgb(188, 181, 175, 1);
  border: 3px solid rgb(188, 181, 175, 0);
  transition: border 0.2s ease-in-out;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: 6px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover {
  color: rgb(157, 149, 143);
  transition: all 0.1s ease-in-out;
}
.btn.primary {
  border: 3px solid rgb(188, 181, 175, 0.4);
}
.btn.primary:hover {
  border: 3px solid rgb(188, 181, 175, 0.7);
}
body {
  margin: 0;
}
html,
body {
  height: 100%;
}
input {
  color: #220b01;
  transition: color 200ms ease-in-out;
  font-family: 'Roboto Mono', monospace;
}
input:focus {
  color: #000000;
  transition: color 200ms ease-in-out;
}
/* keep form inputs from zooming on mobile: https://www.warrenchandler.com/2019/04/02/stop-iphones-from-zooming-in-on-form-fields */
body {
  line-height: 1.3em;
  font-size: 14px;
}
input,
select {
  font-size: 16px;
}
ul {
  padding-inline-start: 20px;
}
li {
  padding-left: 4px;
}

.loading-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-container .spinner {
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 1.7s ease-in-out infinite;
  background-image: url('/orange-favicon.png');
  background-size: contain;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bio-row-value input:focus {
  border: 3px solid rgba(188, 181, 175, 0.6) !important;
  transition: all 0.2s ease-in-out;
}

//////////////////////////////////////////////////
// Phone input for signin page:

#display-phone {
  background-color: #c2bbb833;
}
#display-phone::placeholder {
  color: #cbc4c1;
}
.iti__country-list {
  max-width: 330px;
  overflow-x: hidden;
  font-size: 0.8em;
}
