* {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  color: #220b01;
  background: #fcfcfc;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}
button,
a {
  font-family: 'Roboto Mono', monospace;
}
body {
  margin: 0;
}
html,
body {
  height: 100%;
}
input {
  color: #220b01;
  transition: color 200ms ease-in-out;
  font-family: 'Roboto Mono', monospace;
}
input:focus {
  color: #000000;
  transition: color 200ms ease-in-out;
}
/* keep form inputs from zooming on mobile: https://www.warrenchandler.com/2019/04/02/stop-iphones-from-zooming-in-on-form-fields */
body {
  line-height: 1.3em;
  font-size: 16px;
}
input,
select {
  font-size: 16px;
}
ul {
  padding-inline-start: 20px;
}
li {
  padding-left: 4px;
}
