* {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  color: #2b2017;
  background: #fcfcfc;
  // for a hacky dark mode when coding at night:
  // background: #2b2017;
  // color: #ccc;
  font-family: 'Roboto Mono', monospace;
}
pre {
  text-wrap: wrap;
}
a {
  color: rgb(42, 98, 59);
  font-weight: 700;
  text-decoration: none;
  // background: rgb(42, 98, 59, 0.1);
  // padding: 2px 4px;
  border-bottom: 2px solid rgb(42, 98, 59, 0.2);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s ease-in-out;
}
a:hover {
  // text-decoration: underline;
  border-bottom: 2px solid rgb(42, 98, 59, 0.3);
  transition: border-bottom 0.1s ease-in-out;
}
button,
a,
textarea {
  font-family: 'Roboto Mono', monospace;
}
.btn {
  color: rgb(188, 181, 175, 1);
  border: 3px solid rgb(188, 181, 175, 0);
  transition: border 0.2s ease-in-out;
  padding: 12px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin: 6px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover {
  color: rgb(157, 149, 143);
  transition: all 0.1s ease-in-out;
}
.btn.primary {
  border: 3px solid rgb(188, 181, 175, 0.4);
}
.btn.primary:hover {
  border: 3px solid rgb(188, 181, 175, 0.7);
}
.btn.primary.green {
  background: rgb(42, 98, 59, 0.08);
  border: 3px solid rgb(42, 98, 59, 0.8);
  color: rgb(42, 98, 59, 0.8);
  transition: all 0.1s ease-in-out;
}
.btn.primary.green:hover {
  background: rgb(42, 98, 59, 0.1);
  border: 3px solid rgb(42, 98, 59, 0.9);
  color: rgb(42, 98, 59, 1);
  transition: all 0.1s ease-in-out;
}
body {
  margin: 0;
}
html,
body {
  height: 100%;
}
input {
  color: #220b01;
  transition: color 200ms ease-in-out;
  font-family: 'Roboto Mono', monospace;
}
input:focus {
  color: #000000;
  transition: color 200ms ease-in-out;
}
/* keep form inputs from zooming on mobile: https://www.warrenchandler.com/2019/04/02/stop-iphones-from-zooming-in-on-form-fields */
body {
  line-height: 1.3em;
  font-size: 14px;
}
input,
select {
  font-size: 16px;
}
ul {
  padding-inline-start: 20px;
}
li {
  padding-left: 4px;
}

.loading-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-container .spinner {
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 1.7s ease-in-out infinite;
  background-image: url('/orange-favicon.png');
  background-size: contain;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bio-row-value input:focus {
  border: 3px solid rgba(188, 181, 175, 0.6) !important;
  transition: all 0.2s ease-in-out;
}

//////////////////////////////////////////////////
// Phone input for signin page:

#display-phone {
  background-color: #c2bbb833;
}
#display-phone::placeholder {
  color: #cbc4c1;
}
.iti__country-list {
  max-width: 330px;
  overflow-x: hidden;
  font-size: 0.8em;
}
.oranges-wallpaper {
  background-color: #ffe2c0;
  background-image: url('../oranges-tile-repeat.jpg');
  background-size: 420px;
  background-image: url('../oranges-tile-repeat-2.jpg');
  background-size: min(700px, 90vw);
  background-position: 50% 0;
  background-position: 50% 0;
  height: calc(100vh - 15vh);

  // make children centered vertically on page, but no more than 120px from the top
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}
.oranges-wallpaper form {
  padding-top: 48px;
}
.signin-form-background {
  box-shadow: rgba(137 81 0 / 50%) 0px 5px 25px;
  background: rgb(252 252 252 / 98%);
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 24px;
  text-align: center;
  border-radius: 12px;
}

//////////////////////////////////////////////////
// Expandable component

// this currently doesn't work, not sure why... maybe because on plane?
details {
  font-size: 1.4em;
  color: red;
  cursor: pointer;
}

details span.title {
  margin-left: 8px;
}

details > summary {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  padding: 32px 6px 6px 6px;
  cursor: pointer;
  font-weight: bold;
}
details > summary:first-of-type {
  border-top: none;
  margin-top: 8px;
}

details[open] > summary::marker,
details > summary::marker,
details summary::-webkit-details-marker,
details summary::marker {
}

//////////////////////////////////////////////////
/// table

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th,
td {
  text-align: left;
  padding: 4px;
}
.invisible {
  opacity: 0;
}

.location-field:focus-within,
.email-options:focus-within,
.email-options:focus /* the radio btns field is different */
.email-address:focus,
.email-address:focus-within {
  border: 1px solid #ffffff55;
}
.you-signed-in-as .friend {
  width: fit-content;
}
.you-signed-in-as {
  display: inline-flex;
}
.field .edit-icon {
  fill: white;
  height: 13px;
  margin-left: -36px;
  margin-top: 15px;
  position: absolute;
  opacity: 0.5;
}
.field {
  font-size: 0.95em;
}
