@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:wght@400;700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  background-color: #013917;
  color: #d9d3cc;
  font-family: 'Inria Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', monospace;
}
body {
  margin: 0;
}

/*****************************************/
/**** nav ********************************/
/*****************************************/
.nav {
  margin-bottom: 64px;
  border-bottom: 2px solid #d9d3cc33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: #013917;
  top: 0;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.logo-globe {
  display: inline-block;
  border: 2px solid #d9d3ccaa;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #d9d3cc33;
}
.logo-text {
  display: inline-block;
  font-family: 'Inria Serif', serif;
  font-size: 22px;
  line-height: 0.9em;
  margin: 10px 12px;
  max-width: 80px;
}
.links {
  display: flex;
  margin-right: 24px;
}
.links-spacer {
  margin: 0 16px;
  color: #d9d3cc33;
}

/*****************************************/
/**** content ****************************/
/*****************************************/
.container {
  // max-width: 700px;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
  margin-bottom: 100px;
}
pre {
  white-space: pre-wrap;
  font-family: 'Roboto Mono', monospace;
}
hr {
  border-bottom: 2px solid #d9d3cc33;
  margin: 16px 0;
}
a {
  color: #d9d3cc;
  text-decoration: none;
  // border-bottom: 3px solid #ffffff22;
}
a:hover {
  color: white;
  transition: all 50ms ease-out;
  // border-bottom: 3px solid #ffffff44;
}
.location-info {
  font-size: 1.2em;
}
.location-info .location {
  background-color: #002a0e;
  padding: 2px 6px 4px 6px;
  border-radius: 4px;
}

/*****************************************/
/**** table ******************************/
/*****************************************/
table {
  border-collapse: collapse;
}
th {
  text-align: left;
  opacity: 0.8;
}
td,
th {
  padding: 3px 8px;
}
tr:nth-child(even) {
  background: #11492799;
}
/*****************************************/
/**** friend *****************************/
/*****************************************/
.friend {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.friend img {
  height: 60px;
  border-radius: 60px;
  border: 3px solid #d9d3cc44;
}
.friend .right-section {
  margin-left: 12px;
  padding-bottom: 12px;
}
.friend .right-section .name {
  font-size: 1.2em;
  font-weight: bold;
}
.friend .right-section .handle {
  opacity: 0.6;
  margin-left: 12px;
}
.friend:hover .right-section .handle {
  opacity: 0.7;
}
.coordinates {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  margin-left: 12px;
  opacity: 0.7;
}
.coordinates .coord {}

/*****************************************/
/**** sticky footer **********************/
/*****************************************/
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: -4px;
  width: 100%;
  color: white;
  text-align: center;
}
