@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Inria+Serif:ital,wght@1,400;1,700&display=swap');

* {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  color: #d9d3cc;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', monospace;
  font-size: 14px;
  background-color: #013917;
  background-image: url(../az-subtle.png);
}
body {
  margin: 0;
}

html,
body {
  height: 100%;
}
input {
  color: #d9d3cc;
  transition: color 200ms ease-in-out;
  font-family: Inter;
}
input:focus {
  color: #f1ece8;
  transition: color 200ms ease-in-out;
}

/*****************************************/
/**** nav ********************************/
/*****************************************/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #013917;
  z-index: 1;
  width: -webkit-fill-available;
}
@media (min-width: 768px) /* desktop */ {
  .nav {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 22px;
    padding-left: 8px;
  }
}
@media (max-width: 768px) /* mobile */ {
  .nav {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 16px;
    padding-left: 0;
  }
}
.nav::before {
  border-top: 1px solid #d9d3cc22;
  border-bottom: 1px solid #d9d3cc22;
  content: '';
  background-image: url(../washi.png);
  pointer-events: none;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.26;
  height: 46px;
}
.nav .globe-loader {
  position: relative;
  top: 2px;
  transform: scale(0.8);
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
}
.logo-globe {
  display: inline-block;
  border: 2px solid #d9d3ccaa;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #d9d3cc33;
}
.logo-text {
  display: inline-block;
  font-family: 'Inria Serif', serif;
  font-size: 1.5rem;
  margin: 10px 6px;
}
.fill-nav-space {
  flex-grow: 1;
}
.nav .screen-name {
  margin-top: 6px;
}

/******************************************************************************/
/**** animated logo ************************************************************/
/******************************************************************************/
.globe-loader {
  font-size: 2rem;
  position: fixed;
  position: relative;
  margin-right: 4px;
}
.no-animation,
.no-animation * {
  animation: none !important;
}
.globe-loader.fa-globe-americas {
  font-size: 8em;
}
.nav .globe-loader.fa-globe-americas {
  font-size: 2em;
}
.globe-loader > i.fa-plane {
  display: block;
  position: absolute;
  font-size: 0.3em;
  height: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  transform-origin: center bottom;
  animation: airplane-spin 2.5s infinite ease-in-out;
}
.globe-loader > i.fa-plane#little-plane.hidden {
  /* hide the plane for the first few seconds until the SVG has loaded */
  opacity: 0;
  transition: opacity 200ms ease-out;
}
.globe-loader > i.fa-plane#little-plane {
  transition: opacity 200ms ease-out;
}
.globe-loader > i.fa-plane::before {
  position: relative;
  top: -1.26em;
}
.nav .globe-loader > i.fa-plane {
  font-size: 0.45em;
}
@keyframes airplane-spin {
  from {
    transform: translateX(-50%) rotate(-45deg);
  }
  to {
    transform: translateX(-50%) rotate(0.875turn);
  }
}
/******************************************************************************/
/**** animated loader *********************************************************/
/******************************************************************************/
.loader {
  animation: loader-spin 1s infinite linear;
  width: 50px;
  height: 50px;
  opacity: 0.6;
}
.loader path {
  -ms-transform: scale(0.5, 0.5); /* IE 9 */
  -webkit-transform: scale(0.5, 0.5); /* Safari */
  transform: scale(0.5, 0.5);
}
@keyframes loader-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.friends-list .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85em;
  opacity: 0.6;
  vertical-align: middle;
}

/******************************************************************************/
/**** content *****************************************************************/
/******************************************************************************/
.container {
  margin: auto;
  padding: 12px;
  padding-bottom: 180px;
}
pre {
  white-space: pre-wrap;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  background-color: #ffffff11;
  padding: 8px;
  font-size: 0.6em;
}
hr {
  border-bottom: 2px solid #d9d3cc33;
  margin: 8px 0;
}
a,
a a {
  color: #d9d3cc;
  text-decoration: none;
  // border-bottom: 3px solid #ffffff22;
}
a:hover,
a:hover a {
  color: #f5f0eb;
  transition: all 50ms ease-out;
  // border-bottom: 3px solid #ffffff44;
}
.you-are-following-count-info {
  opacity: 0.7;
  font-size: 0.9em;
  padding: 6px 12px;
  color: #d9d3cc;
}
.location-info {
  opacity: 0.7;
  font-size: 0.9em;
  margin-bottom: 16px;
  color: #d9d3cc;
}
.location-info .location {
  background-color: #002a0e;
  font-style: normal;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', monospace;
  padding: 2px 6px 4px 6px;
  border-radius: 4px;
}
.distance {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  margin-left: 12px;
  opacity: 0.7;
}

/*****************************************/
/**** table ******************************/
/*****************************************/
table {
  border-collapse: collapse;
}
th {
  text-align: left;
  opacity: 0.8;
}
td,
th {
  padding: 3px 8px;
}
tr:nth-child(even) {
  background: #11492799;
}
/*****************************************/
/**** category ***************************/
/*****************************************/
.category {
  border: 1px solid #d9d3cc22;
  border-radius: 10px;
  margin-top: 32px;
}
.category .current-user-location {
  transform: translateY(calc(-50% - 6px));
  color: #d9d3cc99;
  position: relative;
  background-color: #00000011;
  background-color: #013917;
  border-radius: 8px;
  background-image: url(../az-subtle.png);
  padding: 2px 4px;
  margin-left: -6px;
  top: -14px;
}
.no-locations-info {
  padding: 24px;
  border: 2px solid #ffffff22;
  border-radius: 8px;
  line-height: 1.3;
}
.friends-list {
  padding: 24px;
}
@media screen and (max-width: 700px) {
  .friends-list {
    padding: 12px;
  }
}
.friends-list .based-on {
  opacity: 0.8;
}
.friends-list:not(:first-of-type) {
  border-top: 1px solid #d9d3cc22;
}
.current-user-location + .friends-list {
  margin-top: -18px;
}
@media screen and (max-width: 700px) {
  .current-user-location + .friends-list {
    margin-top: -12px;
  }
}
.friends-list .small-info-text {
  text-align: left;
}
.friends-list input {
  font-size: 1.5em;
  font-weight: 600;
}

/*****************************************/
/**** friend *****************************/
/*****************************************/
.friends-list .friends {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 6px;
}
.friend {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .friend {
    width: 400px;
  }
}
@media screen and (max-width: 700px) {
  .friend {
    width: 100%;
  }
}
.friend .twitter-pic,
.friend .twitter-pic img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.friend .twitter-pic {
  background-color: #d9d3cc22;
  border: 2px solid #d9d3cc44;
}
.friend .twitter-pic:hover {
  border: 2px solid #d9d3cc55;
  transition: all 50ms ease-out;
}
.friend .right-section {
  margin-left: 12px;
  flex-grow: 1;
  overflow: hidden;
}
.friend .right-section .top .name {
  flex-shrink: 0;
}
.friend .right-section .top .name {
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50%;
  // display: inline-block;
}
.friend .right-section .top .handle {
  opacity: 0.6;
  margin-left: 8px;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  // white-space: nowrap;
  // display: inline-block;
}
.friend:hover .right-section .top .handle {
  opacity: 0.7;
}
.no-friends-found {
  font-size: 0.9em;
  opacity: 0.7;
  margin-bottom: 6px;
}
/******************************************************************************/
/**** friend: current-user ********************************************************************/
/******************************************************************************/
.twitter-data-explanation > .twitter-data {
  background: #ffffff11;
  display: flex;
  padding: 8px 16px 8px 10px;
  border-radius: 8px;
  column-gap: 12px;
  // align-items: center;
}
.twitter-data-explanation > .twitter-data .name {
  font-size: 1.4em;
  font-weight: 600;
}
.twitter-data-explanation > .twitter-data .location {
  font-size: 1.1em;
  opacity: 0.8;
}
.twitter-data-explanation > .twitter-data img {
  height: 50px;
  border-radius: 100%;
  border: 2px solid #d9d3cc44;
}
.twitter-data-explanation > .explanation {
  opacity: 0.8;
  line-height: 1.4em;
  align-items: center;
  display: flex;
  padding: 4px;
}
.twitter-data-explanation > .explanation .twitter-icon {
  height: 58px;
  fill: #d9d3cc;
  margin-left: 0;
  margin-right: 12px;
}
.twitter-data-explanation > .explanation a {
  font-weight: 500;
  border-bottom: 3px solid #ffffff22;
  transition: all 50ms ease-out;
}
.twitter-data-explanation > .explanation a:hover {
  font-weight: 500;
  border-bottom: 3px solid #ffffff44;
}
.twitter-data-explanation {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  flex-grow: 1;
  row-gap: 8px;
}
@media screen and (min-width: 500px) {
  .twitter-data-explanation {
    margin: 12px 0 46px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    row-gap: 8px;
    column-gap: 16px;
  }
  .twitter-data-explanation > .explanation {
    max-width: 400px;
  }
  .twitter-data-explanation > * {
    align-items: center;
  }
}

.current-user .friend {
  margin-bottom: 24px;
}
@media screen and (min-width: 700px) {
  .current-user .friend {
    width: 100%;
  }
  .current-user .friend .twitter-pic,
  .current-user .friend .twitter-pic img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
  }
  .current-user .friend .right-section .top .name {
    font-size: 1.5em;
    font-weight: bold;
  }
  .current-user .friend .bottom {
    font-size: 1em;
  }
}

/******************************************************************************/
/**** sticky footer ***********************************************************/
/******************************************************************************/
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: -4px;
  width: 100%;
  color: white;
  text-align: center;
}

/******************************************************************************/
/**** welcome *****************************************************************/
/******************************************************************************/
.center-vh {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.welcome {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
}
/* iOS devices only, to account for vertical space taken by iOS Safari search bar at bottom of screen */
@supports (-webkit-touch-callout: none) {
  .welcome {
    height: calc(100vh - 82px); /* account for Safari's serach bar */
  }
}
.welcome .hero {
  width: 98vw;
  margin: 8vh auto 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.welcome .hero a#login-btn {
  font-weight: bolder !important;
  color: #013917;
  border-radius: 100px;
  padding: 6px 24px;
  margin-bottom: 8px;
  background-color: #d9d3cc;
  transition: background-color 100ms ease-out;
  font-size: 0.75em;
}
.welcome .hero a#login-btn:hover {
  background-color: #e7e2de;
  transition: background-color 100ms ease-out;
}
.welcome .hero a#login-btn .twitter-icon {
  fill: #013917;
  height: 24px;
  width: 24px;
  margin-right: 12px;
  margin-bottom: -3px;
}
.welcome .hero h1 {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}
.welcome .hero h2 {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  line-height: 2em;
}
.welcome .hero #logo-animation {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari */
  transform: scale(1);
  margin: 55px 0;
  opacity: 0.25;
}
.steps {
  padding: 14px;
  border: 3px solid #ffffff22;
  border-radius: 8px;
  font-size: 1em;
  text-align: left;
}
.welcome .steps p {
  line-height: 1.5;
}
.welcome .steps p b {
  font-weight: 700;
  width: 3.6em;
  display: inline-block;
}
.welcome .info {
  font-size: 1em;
  margin: 32px 10px 64px;
  max-width: 400px;
  line-height: 1.3;
  text-align: center;
}
.no-locations-info a,
.welcome .info a {
  border-bottom: 3px solid #ffffff22;
}
.no-locations-info a,
.welcome .info a {
  border-bottom: 3px solid #ffffff44;
}
.welcome .faq .question {
  margin: 32px 10px;
  line-height: 1.3;
}

/******************************************************************************/
/** welcome flow **************************************************************/
/******************************************************************************/

.welcome-flow {
  margin: 36px 24px;
  text-align: center;
}
.welcome-flow .friend {
  text-align: left;
}
.welcome-flow p {
  margin: 12px 0;
}
.welcome-flow a.btn {
  font-family: 'Inria Serif', serif;
  font-weight: 700;
  font-size: 1.4em;
  font-style: italic;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: #013917;
}
.welcome-flow hr {
  margin: 32px -24px;
}
.welcome-flow .you-signed-in-as,
.welcome-flow .location-field,
.welcome-flow .heads-up,
.welcome-flow .email-options {
  max-width: 340px;
  margin: auto;
  padding: 16px 0;
  border-radius: 12px;
}
.welcome-flow .location-field {
  padding: 24px 0;
}
.welcome-flow .email-options,
.welcome-flow .location-field {
  border: 1px solid #ffffff33;
}
.welcome-flow input {
  border: 1px solid transparent;
}
.welcome-flow .location-field:focus-within,
.welcome-flow .email-options:focus-within,
.welcome-flow .email-options:focus /* the radio btns field is different */ {
  border: 1px solid #ffffff55;
}
.welcome-flow .you-signed-in-as .friend {
  width: fit-content;
}
.welcome-flow .you-signed-in-as {
  display: inline-flex;
}
.welcome-flow .field .edit-icon {
  fill: white;
  height: 13px;
  margin-left: -36px;
  margin-top: 13px;
  position: absolute;
  opacity: 0.5;
}
.welcome-flow input[type='text'] {
  width: 260px;
  padding: 4px 32px 4px 5px;
  background: #ffffff11;
  border-radius: 4px;
  margin: 8px 4px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
.welcome-flow input.location-input::placeholder {
  color: #d9d3cc55;
  font-size: 0.9em;
}
.small-info-text {
  font-size: 0.7em;
  opacity: 0.4;
  text-align: center;
}
.welcome-flow .email-options .radio-btns {
  text-align: left;
  max-width: 400px;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 4px;
}
.welcome-flow .email-options .radio-btns .radio-btn {
  display: flex;
}
.welcome-flow .email-options .radio-btns .radio-btn label {
  font-size: 0.9em;
  margin-left: 6px;
  margin-top: -1px;
  opacity: 0.8;
  cursor: pointer;
}
input[type='radio'] {
  -webkit-appearance: none; /* Add if not using autoprefixer */
  appearance: none; /* Remove most all native input styles */
  background-color: #013917; /* For iOS < 15 */
  margin: 0; /* Not removed via appearance */

  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type='radio']::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  background-color: CanvasText; /* Windows High Contrast Mode */
}
input[type='radio']:checked::before {
  transform: scale(1);
}

input[type='radio']:focus {
  outline: 0.1em solidwhite;
  outline-offset: max(2px, 0.15em);
}
:not(.error) .error-msg {
  display: none;
}
.error .error-msg {
  display: block;
  background: #ffdfe1;
  border-radius: 4px;
  color: #c2000d;
  font-size: 0.8em;
  font-weight: 500;
  margin: 2px auto 0;
  padding: 4px;
  text-align: center;
  text-align: center;
  width: 289px;
}
.welcome-flow .mapbox-container {
  margin: auto;
  width: min(300px, calc(100% - 64px));
  height: 140px;
  margin: 0 auto;
  border-radius: 100px;
  background: #ffffff11;
  overflow: hidden;
  background: #9dc7d9;
}
.welcome-flow .mapbox-container .mapboxgl-map {
  height: 100% !important;
}
/* pulsating background */
@keyframes pulsingGreenBkgd {
  0% {
    background-color: #1d7a42;
  }
  50% {
    background-color: #013917;
  }
  100% {
    background-color: #1d7a42;
  }
}
.welcome-flow .mapbox-container .center-point {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  background-color: #013917;
  border-radius: 100%;
  position: relative;
  left: calc(50%);
  top: calc(-50%);
  transform: translateX(-50%) translateY(-50%);
  animation-name: pulsingGreenBkgd;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.welcome-flow .mapbox-container .mapboxgl-canvas {
  position: relative !important;
  background: #9dc7d9;
  height: 140px;
}
.welcome-flow .mapbox-container .minimap-marker {
  border: 14px solid red;
  border-radius: 14px;
  position: absolute;
}

/******************************************************************************/
/**** Mapbox ******************************************************************/
/******************************************************************************/
#mapbox-container.expanded {
  height: 99vh; /* note that this includes the height of the button, not just the map */
  transition: height 200ms ease-in-out;
  // top: 0;
  // margin-top: 1vh;
}
/* iOS devices only, to account for vertical space taken by iOS Safari search bar at bottom of screen */
@supports (-webkit-touch-callout: none) {
  #mapbox-container.expanded {
    height: 90vh; /* note that this includes the height of the button, not just the map */
  }
}

#mapbox-container {
  pointer-events: none;
  height: 150px;
  transition: height 200ms ease-in-out;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mapbox-container .expand-me {
  pointer-events: auto;
  background: #efeaef;
  font-weight: bolder;
  font-size: 1.2rem;
  color: #013917;
  border: 2px solid #013917;
  filter: saturate(50%);
  box-shadow: 0px 0px 18px #ffffff77;
  padding: 6px 16px 8px 16px;
  border-radius: 16px;
  z-index: 1;
  cursor: pointer;
  transform: translateY(50%);
  transition: background 100ms ease-out;
  width: 6.75em;
  text-align: center;
}
#mapbox-container .expand-me:hover {
  background: white;
  transition: background 100ms ease-out;
}
#mapbox-container .mapboxgl-map {
  background: #9dc7d9;
  box-shadow: 0px 0px 18px #ffffff55;
  border-top: 2px solid #013917;
  filter: saturate(50%);
}
#mapbox {
  height: 100%;
  width: 100%;
  pointer-events: auto;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
.mapboxgl-marker:hover {
  z-index: 3;
}
.mapboxgl-marker .avatar {
  transform: scale(1);
  transition: transform 200ms ease-out;
}
.mapboxgl-marker:hover .avatar {
  transform: scale(110%) translate(0, -45%);
  transition: transform 100ms ease-out;
}
.marker .user-name {
  display: none;
  width: fit-content;
  width: 1;
  white-space: pre;
  display: block;
  background-color: white;
  padding: 1px 5px;
  box-shadow: #9dc7d9 0px 0px 18px;
  border-radius: 4px;
  color: #013917;
}
.marker.current-user {
  z-index: 2;
}
.marker.current-user .avatar {
  z-index: 1;
}
.marker.current-user:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background: white;
  background: #65a5c1cc;
  background: #b09f8dbb;

  -webkit-animation-name: fadecolor;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  transition: all 4s linear;
}
@-webkit-keyframes fadecolor {
  0% {
    width: 34px;
    height: 34px;
    position: absolute;
    -webkit-transform: translate(-1px, -17px);
    transform: translate(-1px, -17px);
  }
  50% {
    width: 44px;
    height: 44px;
    -webkit-transform: translate(-6px, -22px);
    transform: translate(-6px, -22px);
  }
  100% {
    width: 34px;
    height: 34px;
    position: absolute;
    -webkit-transform: translate(-1px, -17px);
    transform: translate(-1px, -17px);
  }
}
.marker .avatar {
  position: absolute; /* without this, you get the zoomy marker bug */
  transform: translateY(-50%);
  background-color: #013917;
  background: #e7e2de;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  white-space: pre;
  font-family: 'Roboto Mono', monospace;

  transition: height width 500ms ease-out;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */

  border-radius: 100%;
  border: 1px solid #efeaef;
  background-size: cover; /* the background-image will get loaded by the JS */

  /* scaling occurs in JS */
  min-height: 20px;
  min-width: 20px;
  max-height: 54px;
  max-width: 54px;

  cursor: pointer;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/************************************************************/
/** utils ***************************************************/
/************************************************************/
.serif {
  font-family: 'Inria Serif', serif;
  font-style: italic;
}
button.btn,
a.btn {
  font-weight: bold;
  background-color: #d9d3cc;
  color: #013917;
  padding: 4px 16px 4px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 80ms ease-out;
}
button.btn:hover,
a.btn:hover {
  background: #e9e3dc;
  transition: all 80ms ease-out;
}

/******************************************************************************/
/** Mapbox popups *************************************************************/
/******************************************************************************/
.mapboxgl-popup {
  z-index: 12; /* make sure the popups go over the avatars */
}
.mapboxgl-popup .mapboxgl-popup-content {
  padding: 5px 8px;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  margin-right: -6px;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 20%), -2px 0px 3px rgb(0 0 0 / 20%);
  height: 10px;
  width: 10px;
  background: white;
  border: none;
  transform: rotate(45deg);
  z-index: -1;
}
.mapboxgl-popup-anchor-left::before {
  content: '';
  height: 12px;
  width: 12px;
  z-index: 1;
  background: white;
  top: 50%;
  transform: rotate(45deg) translateY(-31%) translateX(-50%);
  position: absolute;
}
.mapboxgl-popup-content {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', monospace;
  color: #002a0e;
}
.mapboxgl-popup-content a {
  color: #1d7a42;
}
.mapboxgl-popup-content a:hover {
  color: #013917;
}
.mapboxgl-popup-content a.screen-name {
  font-weight: bold;
  margin-left: 4px;
}
.mapboxgl-popup-content .top-row,
.mapboxgl-popup-content .bottom-row {
  display: flex;
  align-items: center;
  gap: 2px;
}
.mapboxgl-popup-content .bottom-row {
  fill: #999;
  color: #999;
}
.mapboxgl-popup-content .bottom-row code {
  margin-left: 10px;
  font-family: 'Roboto Mono', monospace;
  opacity: 0.6;
}
.mapboxgl-popup-content .bottom-row svg.location {
  transform: scale(0.85);
  margin-left: -2px;
}

/************************************************************/
/** utils ***************************************************/
/************************************************************/
.admin-screen {
  margin: 64px 24px;
}
.admin-screen details {
  margin-bottom: 12px;
}
.admin-screen details summary {
  cursor: pointer;
}
.admin-screen details summary b {
  padding-left: 4px;
}
.admin-screen details > :not(summary) {
  margin-left: 20px;
}
.admin-screen pre {
  margin: 8px 0;
  border: 1px solid #ffffff33;
  border-radius: 3px;
}
ul {
  padding-left: 24px;
}
ul li {
  padding-left: 6px;
}
